# Конфигурационные файлы TypeScript и кэш
tsconfig.*.json
tsconfig.tsbuildinfo

# Конфигурация Rollup
rollup.config.js

# Директории вывода
output/
dist/
build/
out/

# Документация
docs.wrm/

# Служебные директории и файлы
.github/
src.ts/_admin/
lib.commonjs/_admin/
lib.esm/_admin/
types/_admin/
reporter.cjs
package-commonjs.json
.github/workflows/test-ci.yml

# Тестовые кейсы
src.ts/_tests/
lib.commonjs/_tests/
lib.esm/_tests/
types/_tests/
testcases/

# Зависимости
node_modules/

# Логи и временные файлы
*.log
*.tmp
*.temp
*.pid
*.seed
*.pid.lock

# Файлы окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Кэш ESLint
.eslintcache

# Системные файлы
.DS_Store
.iterm2-project

# Файлы, создаваемые npm
**/*.tgz

# Файлы сборки
dist/*.gz

# Настройки IDE/редакторов
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Прочие временные или служебные директории
misc/
